@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.box h3 {
    font-size: 3.2rem !important;
    font-family: 'Josefin Sans', sans-serif !important;
    color: #2e8b57 !important;
    font-weight: 600 !important;
    background: linear-gradient(120deg, #d4fc79, #96e6a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize !important;
    display: inline-block;
}

.box h3 span {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 3.8rem !important;
    font-weight: 800 !important;
    background: linear-gradient(to right, #00c853, #b2ff59) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}



/* Promise section code*/


.promise {
  background: var(--snd-bg-color);
}

.promise-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 3.3rem;
  margin-top: 4.2rem;
}

.box {
    padding: 30px 30px 50px 30px;
    height: 40rem;
    background: var(--bg-color);
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px var(--main-color);
    transition: all 0.5s ease;
    cursor: pointer;
}

.box h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.box ul li {
    list-style: disc;
    font-size: 2.0rem;
    padding-bottom: 1.2rem;
}

.box a {
    display: inline-block;
    font-size: 20px;
    line-height: 1rem;
    font-weight: 700;
    padding: 7px ;
    color: var(--text-color);
    border-bottom:  2px solid #5d6c83;
    transition: all 0.5s ease;
}

.box i {
    vertical-align: middle;
    font-size: 20px;
    color: var(--main-color);
    margin-left: 5px;
}

.box a:hover {
    border-bottom: 2px solid var(--main-color);
}


.box:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}



